<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body>
    <a href="/upload">Upload Documents</a>
    <ul class="documents-available"></ul>
    <script src="/js/index.js"></script>
  </body>
</html>
