$primary: #4361ee;
$white: #ffffff;
$light-white: #f8f9fa;
$black: #293241;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: $light-white;
}

main {
  margin: 5vh 5vw;
}

.form {
  display: flex;
}

.documents-available {
  display: flex;
  flex-wrap: wrap;

  .file {
    margin: 5px;
    padding: 1rem;
    border-radius: 10px;
    border: 1px solid rgba($color: $black, $alpha: 0.12);
    outline: none;
    text-decoration: none;

    &:hover {
      background-color: rgba($color: $black, $alpha: 0.12);
    }

    & > div {
      display: flex;
      flex-direction: column;

      svg {
        height: 64px;
      }

      p {
        margin-top: 1rem;
      }
    }
  }
}

input {
  border: 1px solid darken($light-white, 10%);
  border-radius: 5px;
  background-color: $light-white;
  padding: 5px 10px;
  font-weight: bold;

  &:focus {
    outline: none;
  }
}

a {
  color: $black;
  outline: none;
}

.btn {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;

  &-primary {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: darken($primary, 5%);
    }

    &:active {
      background-color: darken($primary, 10%);
    }
  }
}

.modal {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 200%);
  transition: transform 0.4s cubic-bezier(0.31, 0.68, 0.61, 0.88);
  display: flex;
  flex-direction: column;

  &-body {
    padding: 10px 20px;
    box-shadow: 0px 0px 10px rgba($color: $black, $alpha: 0.12);
    border: 1px solid rgba($color: $black, $alpha: 0.12);
    border-radius: 5px;
  }

  &-success {
    background-color: rgb(9, 192, 161);
    color: $white;
  }

  &-url {
    background-color: $primary;
    color: $white;

    a {
      color: white;
    }
  }

  &-progress {
    background-color: $white;
    color: $black;
    margin: 10px 0;

    p {
      margin: 2px;
    }
  }
}
