$primary: #4361ee;
$white: #ffffff;
$light-white: #f8f9fa;
$black: #293241;

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: $light-white;
}

main {
  margin: 5vh 5vw;
}

.form {
  display: flex;
}

.documents-available {
  margin-top: 1rem;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 10px;

  @media screen and (max-width: 425px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
  }

  .file {
    flex-basis: 240px;
    outline: none;
    text-decoration: none;
    max-height: 240px;
    position: relative;

    @media screen and (max-width: 425px) {
      flex: 1;
      max-width: 50%;
      min-width: 160px;
    }

    @media screen and (max-width: 325px) {
      flex: 1;
      max-width: 50%;
      min-width: 120px;
    }

    &:hover {
      background-color: rgba($color: $black, $alpha: 0.12);
    }

    input {
      display: none;

      &:checked + .file--wrapper {
        background-color: rgba($color: $black, $alpha: 0.24);
      }
    }

    &--wrapper {
      width: 100%;
      height: 100%;
      padding: 1rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 10px;
      background-color: transparent;
      border: 1px solid rgba($color: $black, $alpha: 0.12);
      cursor: pointer;
    }

    svg {
      flex: 1;
      height: 100%;

      path {
        fill: rgba($color: $black, $alpha: 0.24);
      }
    }

    p {
      text-align: center;
      margin-top: 1rem;
    }
  }
}

.context-menu {
  position: absolute;
  box-shadow: 0 0 4px rgba($color: $black, $alpha: 0.12);
  border-radius: 5px;
  background-color: #ffffff;
  padding: 0;

  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      padding: 10px 1rem;
      cursor: pointer;

      &:hover {
        background-color: rgba($color: $primary, $alpha: 0.12);
      }
    }
  }
}

input {
  width: 100%;
  border: 1px solid darken($light-white, 10%);
  border-radius: 5px;
  background-color: $light-white;
  padding: 5px 10px;
  font-weight: bold;

  &:focus {
    outline: none;
  }
}

a {
  color: $black;
  outline: none;
}

.btn {
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 5px 10px;
  cursor: pointer;
  margin: 0 5px;

  &-primary {
    background-color: $primary;
    color: $white;

    &:hover {
      background-color: darken($primary, 5%);
    }

    &:active {
      background-color: darken($primary, 10%);
    }
  }
}

.modal {
  position: absolute;
  bottom: 1rem;
  left: 50%;
  transform: translate(-50%, 200%);
  transition: transform 0.4s cubic-bezier(0.31, 0.68, 0.61, 0.88);
  display: flex;
  flex-direction: column;

  &-body {
    padding: 10px 20px;
    box-shadow: 0px 0px 10px rgba($color: $black, $alpha: 0.12);
    border: 1px solid rgba($color: $black, $alpha: 0.12);
    border-radius: 5px;
  }

  &-success {
    background-color: rgb(9, 192, 161);
    color: $white;
  }

  &-url {
    background-color: $primary;
    color: $white;

    a {
      color: white;
    }
  }

  &-progress {
    background-color: $white;
    color: $black;
    margin: 10px 0;

    p {
      margin: 2px;
    }
  }
}
